* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

body {
    background: #E3F2FD;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    overflow: hidden;
    background: #fff;
    border: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}

.chatbot header {
    background: #724ae8;
    padding:  16px 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 15px 20px 70px;

}

.chatbox .chat {
    display: flex;
}
.chatbox .incoming span {
    height: 32px;
    width: 32px;
    background: #724ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    align-self: flex-start;
}
.chatbox .outgoing {   
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .chat p {
    counter-reset: #fff;
    font-size: 0.95rem;
    max-width: 75%;
    background: #724ae8;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input {
    position: absolute;
    display: flex;
    gap: 5px;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 5x 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
    width: 100%;
}

.chat-input span {
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    background: red;
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    visibility: hidden;
}

